@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
#mainLogo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
#navBar {
  background-color: transparent;
  transition: top 0.5s ease;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
.sectionPadding {
  padding-top: 100px;
}
button {
  font-size: 17px;
  width: 170px;
  border: none;
  outline: none;
  padding: 10px 5px;
}
#menu {
  color: #fff;
  font-size: 37px;
}
#navBar button {
  width: 60px;
}
@media (max-width: 978px) {
  #menuLinks {
    background-color: #000;
    text-align: center;
    height: 50vh;
    display: flex;
    gap: 20px;
  }
}

h2 {
  font-size: 60px;
  text-transform: capitalize;
}
h3 {
  font-size: 40px;
  font-weight: bold;
}
h4 {
  font-size: 50px;
}
p {
  font-size: 17px;
}
span {
  font-size: 35px;
  font-family: "Yellowtail", cursive;
  color: rgb(193, 57, 57);
}

#header {
  padding: 0 !important;
}
.nav-item a {
  font-size: 17px;
  margin-right: 30px;
}
#mainLogo {
  width: 100px;
}
#main {
  width: 100%;
  height: 100vh;
}
#main img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.carousel-item {
  position: relative;
}
.carousel-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000072;
}
.carouselContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  min-width: 500px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carouselContent span {
  font-size: 35px;
  font-family: "Yellowtail", cursive;
  color: red;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.729);
  border-radius: 3px;
}
.carouselContent h2 {
  font-weight: bold;
  color: white;
}
.carouselContent p {
  color: white;
}
.buttons {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.buttons button {
  font-size: 17px;
  width: 170px;
  border: none;
  outline: none;
  padding: 10px 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.buttons button i {
  font-size: 20px;
}
.buttons button:nth-child(1) {
  background-color: black;
  color: #fff;
  transition: 0.5s;
}
.buttons button:nth-child(1):hover {
  background-color: white;
  color: #000;
  transition: 0.5s;
}
/* Header Complete */
.cards {
  height: 600px;
  position: relative;
  overflow: hidden;
}
.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.cards:hover img {
  scale: 1.15;
  transition: 0.5s;
}
.cardsContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000061;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  color: #fff;
}
.cardsContent p {
  font-size: 20px;
}
.cardsContent h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.owl-carousel .item {
  /* width: 350px; */
  height: 400px;
  border-radius: 40px;
}
.owl-carousel .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.exploreNortheast {
  position: relative;
}
.exploreNortheastName {
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 15px 30px;
  background-color: rgb(22, 3, 3);
  color: white;
  border-radius: 10px;
  cursor: none;
}
/*  */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns like col-lg-4 */
  gap: 1rem;
}
.gallery-grid div {
  height: 400px;
}
.row-span-2 {
  grid-row: span 2;
}

.col-span-2 {
  grid-column: span 2;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}
.ovflow {
  position: relative;
  overflow: hidden;
}

.ovflowContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.403);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.5s;
  color: #fff;
}
.ovflowContent i {
  color: #fff;
  font-size: 40px;
}
.ovflow:hover .ovflowContent {
  transform: translateX(0);
  transition: 0.5s;
}
.ovflow:hover img {
  scale: 1.15;
  transition: 0.5s;
}

.aboutUsContnt p {
  text-align: justify;
  margin-top: 40px;
}
.aboutUsImg {
  width: 100%;
  height: 70vh;
  background-image: url("https://imgs.search.brave.com/IWRkoEUQXcF9g5GPEJqQjXFS2xnIn5OwU_x622A195A/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMudHJhdmVsdHJp/YW5nbGUuY29tL2Js/b2cvd3AtY29udGVu/dC91cGxvYWRzLzIw/MTkvMTIvVW1hbmFu/ZGEtVGVtcGxlLWd1/d2FoYXRpMS5qcGc");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
/* About style ends */

/* Packages swiper start */
.packagesCarousel .item {
  width: 100%;
  height: 400px;
}
.packagesCarousel .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.packagesImg {
  position: relative;
}
.packagedContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.packagedContent h5 {
  font-size: 30px;
  text-transform: capitalize;
  color: rgb(0, 255, 229);
  font-weight: bold;
}
.packagedContent h6 {
  font-size: 20px;
  color: #fff;
}
.packagedContent p {
  text-transform: capitalize;
}
.packagedContent button {
  transition: 0.5s;
  margin-bottom: 20px;
}
.packagedContent button i {
  margin-left: 10px;
}
.packagedContent button:hover {
  background-color: black;
  color: #fff;
  transition: 0.7s;
}

.swiper {
  width: 100%;
}
.swiper-slide {
  height: 100%;
}
.swiper-slide .package {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  height: fit-content;
}
.packageImg {
  height: 300px;
}
.packageImg img {
  border-radius: 20px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.packageContent {
  padding: 20px;
}
.includesItems {
  position: relative;
  border-radius: 10px;
}
.includesItems div i {
  font-size: 24px;
  color: royalblue;
}
.includesItems div p {
  font-size: 16px;
}

.includeText {
  position: absolute;
  left: 0;
  transform: rotate(-90deg);
  background-color: pink;
  padding: 5px;
}
.contactLinks {
  padding: 10px 0;
}
.contactLinks .whatsappLink i {
  font-size: 30px;
  color: green;
  cursor: pointer;
}
.contactLinks .ri-phone-fill {
  font-size: 30px;
  color: royalblue;
}
.contactLinks .view {
  padding: 9px 15px;
  background-color: rgb(9, 142, 53);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
#whatapp {
  background-color: rgb(5, 119, 5);
  color: #fff;
}
#whatapp:hover {
  background-color: white;
  color: #000;
}
#whatapp:hover i {
  color: green;
}
.abt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Travel in Comfort with Our Diverse Fleet! section start */
.fleetImg {
  width: 100%;
  height: 60vh;
  background-image: url("https://imgs.search.brave.com/zha5uDqb3UWdpZ5mkv_fGCbxIP7qa-QtJppuln8OnoQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGlt/Zy5jYXJkZWtoby5j/b20vaW1hZ2VzL2Nh/cmV4dGVyaW9yaW1h/Z2VzLzYzMHg0MjAv/VG95b3RhL0lubm92/YS1DcnlzdGEvOTYx/Mi8xNjk3Njk4NjEx/MDc2L2Zyb250LWxl/ZnQtc2lkZS00Ny5q/cGc_aW13aWR0aD0z/MjAmaW1wb2xpY3k9/cmVzaXpl");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutUsContnt button {
  background-color: #000;
  color: #fff;
  transition: 0.7s;
}
.aboutUsContnt button:hover {
  background-color: rgb(226, 220, 220);
  color: #000;
  transition: 0.7s;
}
/* Travel in Comfort with Our Diverse Fleet! section end*/
/* Why choose us section start */
.point {
  display: flex;
  align-items: flex-start;
}
.point i {
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
}
.pointContent h6 {
  font-size: 20px;
  font-weight: bold;
}
.pointContent p {
  font-size: 15px;
  margin-top: 5px;
}

#why {
  width: 100%;
}
.whyImg {
  width: 100%;
  height: 60vh;
  background-image: url("https://imgs.search.brave.com/2ZTjdYT4Yr7CDv7zpdcaUR4GnG1RLwEXex9K-YAUbpU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bmF0dXJldHJhdmVs/YWdlbmN5LmNvbS91/cGxvYWRzLzE3MTg4/NzA5MjZkYXJqZWVs/aW5nJTIwdG91ciUy/MHBhY2thZ2UlMjAy/JTIwbmlnaHRzJTIw/MyUyMGRheXMuanBn");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Why choose us section end */
/* Discover tour by themes start */
#discover .container-fluid {
  padding: 100px 0 0 0;
}
.discoverBanner {
  width: 100%;
  height: 50vh;
  background-image: url("https://imgs.search.brave.com/VvqhhyQoPEy8cek9q02FKQOV09mUrnYXvN1vyP4WjE8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9oYmxp/bWcubW10Y2RuLmNv/bS9jb250ZW50L2h1/YmJsZS9pbWcvc3Rh/dGVzX2ltZy9tbXQv/YWN0aXZpdGllcy9t/X0Fzc2FtX2xhbmRz/Y2FwZV8yX2xfNjI0/XzEwMDAuanBn");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.discoverContent {
  background-color: #0000009b;
  text-align: center;
  padding: 20px 40px;
}
/* Discover tour by themes end */
/* Customer Testimonial Section Start */
.happyCustomer {
  margin-top: 30px;
}

.happyCustomer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rvcontent {
  box-shadow: rgba(118, 114, 114, 0.2) 0px 2px 8px 0px;
  padding: 20px 20px;
}
.rvcontent p {
  font-size: 16px;
  margin-top: 10px;
}
.customerReviewSlide {
  height: fit-content;
  margin-top: 30px;
}
.cstmr {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cstmr i {
  font-size: 50px;
  color: rgb(125, 125, 228);
}
.cstmr h5 {
  font-size: 23px;
  font-weight: bold;
}

#customerId {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* Customer Testimonial Section End*/
footer {
  width: 100%;
  background-color: black;
  margin-top: 100px;
  padding-bottom: 50px;
}
footer h5 {
  color: #fff;
  margin-bottom: 30px;
}
footer p {
  color: #ccc2c2;
  font-size: 16px;
  padding-right: 100px;
}
.quickLinks {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.quickLinks a {
  text-decoration: none;
  color: #fff;
}
.quickLinks a i {
  margin-right: 20px;
}
.quickLinks a:hover {
  color: rgb(7, 114, 114);
  transition: 0.7s;
}
@media (max-width: 576px) {
  .sectionPadding {
    padding-top: 50px;
  }
  h2 {
    max-width: 300px;
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  .carouselContent p {
    max-width: 250px;
    font-size: 4vw;
  }
  .buttons {
    flex-direction: column;
    gap: 20px;
  }
  .carouselContent {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1;
    min-width: 500px;
    display: flex;
    gap: 10px;
  }
  .buttons {
    margin-top: 10px;
  }
  .carouselContent span {
    font-size: 25px;
    font-family: "Yellowtail", cursive;
    color: red;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.729);
    border-radius: 3px;
  }
  .gallery-grid {
    display: flex;
    flex-direction: column;
  }
  .aboutUsImg {
    background-size: cover;
    background-position: center;
    background-attachment: none;
  }
  .fleetImg {
    background-size: cover;
    background-position: center;
  }
  .points {
    margin-top: 30px;
  }
  .aboutUsContnt p {
    max-width: none;
  }
  .headingText p {
    max-width: none;
  }
  footer p {
    max-width: none;
    padding-right: 0;
  }
  /* Most popular destinations */
  .ovflowContent {
    transform: translateX(0);
    transition: 0.5s;
  }
  .container {
    max-width: none;
  }
}

/* =============== Home css Complete ================== */

/* =============== About Us Page css Start ================== */

.aboutImg {
  width: 100%;
  height: 50vh;
  background-image: url("https://imgs.search.brave.com/YJCCVT-Gdwgo81Bx-QslizRlaua8Zo9fG3BatfRySrc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMjE1/NDk0OTE0MS9waG90/by9iZWF1dGlmdWwt/dGVhLWdhcmRlbi5q/cGc_Yj0xJnM9NjEy/eDYxMiZ3PTAmaz0y/MCZjPTNQTVFMOWhD/QWZ2Nm91VWktMTlf/d1ozWXhNUlhlVmdE/WXFLQzJQNzYyTVk9");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
}
/* =============== About Us Page css end ================== */
/* =============== car and Service Page css Start ================== */
.serviceImg {
  width: 100%;
  height: 50vh;
  background-image: url("https://imgs.search.brave.com/3LlQjne6RZtwdETZ7JSXU_JY4ZBEEbMqI2ryFJP7C7c/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YTEudGhyaWxsb3Bo/aWxpYS5jb20vZmls/ZXN0b3JlLzhzMTcx/b2JmaHZkMzZkNTY5/ZGlvbDVpNHRmZmxf/c2h1dHRlcnN0b2Nr/XzIyODMwMTU3NDEu/anBn");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
}

.serviceCard {
  border: 1px solid rgb(175, 172, 172);
  /* height: 450px; */
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.serviceCardImg {
  height: 300px;
  overflow: hidden;
}
.serviceCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.serviceCard:hover .serviceCardImg img {
  scale: 1.15;
  transition: 0.5s;
}
.serviceCardText {
  padding: 20px;
  text-align: center;
}
.serviceCardText button {
  background-color: #1da8cb46;
  color: #000;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 10px;
}
.serviceCardText button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1da9cb;
  transition: 0.5s;
}
.serviceCardText button:hover::before {
  left: 0;
  color: rgb(31, 63, 243);
  transition: 0.5s;
  z-index: -1;
}
.serviceCardText button:hover {
  color: #fff;
}
.whatsAppLogo {
  width: 60px;
  height: 60px;
  text-decoration: none;
  padding: 5px;
  background-color: green;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.whatsAppLogo i {
  color: #fff;
  font-size: 30px;
}

.vehicleServiceIcon {
  display: flex;
  gap: 15px;
  padding: 0 20px;
}
.vehicleServiceIcon button {
  padding: 0;
  color: #000;
  background-color: transparent;
}
.vehicleServiceIcon i {
  cursor: pointer;
  font-size: 30px;
}
a {
  text-decoration: none;
}

/* =============== car and Service Page css End ================== */

/* =============== Destination  Page css Start ================== */

.destinationContent {
  height: 500px;
  border: 1px solid rgb(137, 137, 147);
  padding: 30px;
  border-radius: 30px;
}

.destinationImg {
  width: 100%;
  height: 100%;
  position: relative;
}
.destinationImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}
.state {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #ff6b03;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}
.destinationContent button {
  background-color: rgba(0, 0, 0, 0.868);
  color: white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.destinationContent p {
  text-align: justify;
}
.destinationContent button::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff6b03;
  z-index: -1;
}
.destinationContent button:hover:before {
  left: 0;
  transition: 0.5s;
}
.destinationContent button:hover {
  color: white;
  z-index: 1;
}
/* =============== Destination  Page css End ================== */

/* =============== Tour package  Page css Start ================== */
.TourPackageImg {
  width: 100%;
  height: 50vh;
  background-image: url("https://imgs.search.brave.com/9UL-WGi73b_j8w8Nuy7VtirznfZX02-MbIrMyVpo6aw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/dHJhdmVsdG91cmlz/dGVyLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyNC8wOS9B/c3NhbS1Ub3VyLVBh/Y2thZ2VzLUZyb20t/R3V3YWhhdGkud2Vi/cA");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  position: relative;
}
.TourPackageImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004f;
}
.TourPackageImg h2 {
  z-index: 3;
}
.tourPack {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  border-radius: 20px;
}
.tourPack .packageImg {
  height: 300px;
}
.tourPack .packageImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Pop Up Box CSS Start */

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: left;
  position: relative;
}
.popup-content h2 {
  font-size: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
.popup-content p span {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: rgb(11, 11, 49);
}

.pkgButton {
  background-color: black;
  color: #fff;
  border-radius: 20px;
  transition: 0.3s;
}
.pkgButton:hover {
  background-color: #1da9cb;
  color: #fff;
  transition: 0.3s;
}
.close-btn {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
  font-size: 30px;
  color: black;
}
.tourPlace {
  font-size: 14px;
}
.packageHeading {
  /* border: 1px solid black; */
  height: 140px;
}

/* =============== Tour package  Page css End ================== */
.contactCards {
  height: 250px;
  padding: 30px 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.contactCards i {
  color: royalblue;
}
.contactCards h6 {
  font-weight: bold;
  font-size: 20px;
}
.contactCards p,
a {
  font-family: Arial, Helvetica, sans-serif;
}

.baishnavieForm form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.baishnavieForm form div {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}
.baishnavieForm input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #000;
  outline: none;
  /* background-color: black; */
}
.baishnavieForm textarea {
  margin-top: 30px;
  width: 100%;
  height: 200px;
  resize: none;
  padding: 15px 10px;
  font-size: 20px;
  border: 1px solid #000;
  outline: none;
  border-radius: 20px;
}
.baishnavieForm button {
  margin-top: 30px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
  border-radius: 20px;
}
.baishnavieForm button:hover {
  background-color: #000;
  transition: 0.5s;
}
.contactImg {
  width: 100%;
  height: 500px;
}
.contactImg iframe {
  height: 100%;
  height: 100%;
  object-fit: cover;
  /* clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
}
